.theme-default-content
  >table
    border-collapse collapse
    margin 1rem 0
    display: block
    overflow-x: auto
    tr
      border-top 1px solid #dfe2e5

      &:nth-child(2n)
        background-color #f6f8fa

    th, td
      border 1px solid #dfe2e5
      padding .6em 1em

table
  border-collapse separate
  margin inherit
  display: table
  overflow-x: inherit

tr
  border-top inherit

  &:nth-child(2n)
    background-color inherit

th, td
  border inherit
  padding inherit